# IntelliJ
.idea/*
*.iml

# Eclipse

# WEKA *.arff file creation
*.arff

# Build related
target/*
out/*
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
/Scratchbook.jpage
/.classpath
/.project
